body {
    margin: 0;
    background-color: #D5E1EF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;


}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 320px;
    height: 499px;
    background-color: white;
    border-radius: 20px;
    padding: 16px 16px 20px;

}



.qr-image {
    border-radius: 10px;
    max-width: 100%;

}

.card-txt {
    padding: 0px 32px;

}

.outfit-txt {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #1F314F;
    font-style: normal;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
}

.outfit-body-txt {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #68778D;
    font-style: normal;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
}